.navBar {
    display: flex;
    background-color: rgb(150, 142, 142);
    justify-content: space-between;
    border: solid;
    border-radius: 5px;
    margin: auto;
    align-items: center;
}

h1 {
    color: rgb(228, 226, 235);
    font-weight: bold;
}

.main-container {
    display: flex;
    justify-content: space-around;
}

.homes-listing {
    border: 1px #ccc solid;
    height: 400px;
    margin-top: 1em;
    flex: 2;
    border-radius: 3px;
}

.display-home-details {
    border: 1px #ccc solid;
    margin-top: 1em;
    flex: 4;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    
}

.add-homes {
    border: 1px #ccc solid;
    margin-top: 1em;
    flex: 2;
    border-radius: 3px;
    display: flex;
}